/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #1971c2
GREY COLOR: #343a40
LIGHT-GREY: #dee2e6
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "fontello", sans-serif;
  color: #343a40;
  font-size: 16px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}

p {
  line-height: 1.7;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: 500;
}

.mycontainer {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.bg-secondary {
  background: #f7f7f7;
}
/* Banner style ------------------------------------------------------------------------------------------------*/
#banner {
  height: 75vh;
  position: relative;
  background-image: linear-gradient(
      rgba(36, 36, 36, 0.5),
      rgba(36, 36, 36, 0.5)
    ),
    url(../images/banner.jpg);
  background-size: cover;
}

#banner div {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#banner span {
  color: #f7f7f7ab;
}

/* Navigation --------------------------------------------------------------------------------------------- */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.nav-bar .nav-bar-items {
  display: flex;
}

.nav-bar .nav-bar-items:last-child {
  border-right: 1px solid #dee2e6;
}

a:link,
a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #343a40;
  border-left: 1px solid #dee2e6;
}

.name {
  text-align: center;
  padding: 8px 200px;
  border-left: 1px solid #dee2e6;
}

.name h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.name span {
  font-size: 0.9rem;
  color: #343a40ad;
}

.icon-user,
.icon-doc-text-inv,
.icon-mail-alt,
.icon-star-1 {
  color: #1971c2;
}

/* Avatar ---------------------------------------------------------------------------------------------------- */
.avatar {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.212);
}

/* Mục tiêu - Thông tin ---------------------------------------------------------------------------------- */
.info-target {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#target {
  width: 60%;
  padding: 80px 128px;
  justify-self: right;
}

#personal-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 12px;
}

#personal-info {
  background-color: rgba(209, 209, 209, 0.2);
  padding: 80px 128px;
}

.icons {
  color: #1971c2;
  padding-top: 12px;
}

/* Kinh nghiệm - Học vấn - Hoạt động - Sở thích - Ngôn ngữ - Kỹ năng ---------------------------------- */

/* GRID */
.job-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  padding: 48px 0;
}

.grid-item {
  position: relative;
  padding: 48px 24px;
  border: 1px solid #343a402c;
}

.year-highlight {
  padding: 2px 10px;
  background-color: #1971c2;
  color: #fff;
  border-radius: 6px;
}

.job-info i {
  font-size: 12px;
}

.content {
  padding-top: 24px;
}

.job-info b {
  position: relative;
}

.job-info b::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 8px;
  height: 8px;
  background-color: #1971c2;
  border-radius: 50%;
}

.favorite {
  display: flex;
  gap: 32px;
}

.favorite-item {
  text-align: center;
}

.favorite-icon {
  color: #1971c2;
  font-size: 1.5rem !important;
  border: 1px solid #1971c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
}

.language {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
}

.language p {
  grid-column: 1/-1;
}

.lvl {
  height: 3px;
  background-color: #dee2e6;
  border-radius: 4px;
}

.lvl-checked {
  background-color: #1971c2;
}

.skill {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
}

.skill p {
  grid-column: 1/-1;
}

.job-icon {
  font-size: 2.25rem !important;
  color: #343a40ad;
  position: absolute;
  top: 40px;
  right: 48px;
}

/* Chứng chỉ - giải thưởng ------------------------------------------------------------------------------- */
.certificate {
  padding: 48px 0;
}

.certificate-container {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 48px;
}

.certificate-item {
  display: flex;
  gap: 24px;
  background-color: rgba(209, 209, 209, 0.2);
}

.certificate-item img {
  width: 50%;
  height: auto;
}

/* Dự án ----------------------------------------------------------------------------------------------- */
.project {
  padding: 48px 24px;
  
}

.project-link{
  border:none;
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.project-link:hover{
  cursor:pointer;
  /* scale:102%; */
  border: 2px solid #1971c2;
}

.project-container {
  color: #343a40ad;
  padding-top: 24px;
  display: flex;
  gap: 24px;
}

.project-item {
  border: 1px solid #343a402c;
  position:relative;
}

.project-item img {
  width: 100%;
}

.project-time-line {
  padding: 18px 18px;
  word-spacing: 12px;
  border-top: 1px solid #343a402c;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 24px;
  border-top: 1px solid #343a402c;
  padding:0 12px;
}

/* footer ---------------------------------------------------------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 48px;
  color: #343a40ad;
}

.footer-icon {
  font-size: 36px !important;
  color: #1971c2 !important;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}
